VITE_SUPABASE_URL=https://wqtzelrzfclcwqqyruyd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndxdHplbHJ6ZmNsY3dxcXlydXlkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk4OTMxMTQsImV4cCI6MjA5NTQ2OTExNH0.kmj8jEBJ8fddaIQ7ARJ77ahv81v7lJK-Umn9JPF-eJg
